<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Upload Image</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Gender Classification</h1>
        <form method="POST" enctype="multipart/form-data">
            <input type="file" name="file" accept="image/*" class="upload-btn">
            <button type="submit" class="btn">Upload</button>
        </form>
        <a href="/" class="btn"> Home </a>
    </div>
</body>
</html>
