<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Patil Agrotech</title>
    <link rel="stylesheet" href="{{url_for('static',filename='style/first.css')}}">
</head>
<body>
    <form action="form" method="post">
  <label for="Nitrogen">Nirogen:</label>
  <input type="text" id="Nirogen" name="Nitrogen" min="0" max="100" placeholder="Nitrogen" required>

  <label for="Phosphorus">Phosphorus:</label>
  <input type="text" id="Phosphorus" name="Phosphorus" min="0" max="100" placeholder="Phosphorus" required>

  <label for="Potassium">Potassium:</label>
  <input type="text" id="Potassium" name="Potassium" min="0" max="100" placeholder="Potassium" required>

  <label for="Temperature">Temperature:</label>
  <input type="text" id="Temperature" name="Temperature" min="0" max="100" placeholder="Temperature in Degree Celcius" required>

  <label for="Humidity">Humidity:</label>
  <input type="text" id="Humidity" name="Humidity" min="0" max="100" placeholder="Relative Humidity in Percentage" required>

  <label for="ph">ph:</label>
  <input type="text" id="ph" name="ph" min="0" max="14" placeholder="ph should be in between 0-14" required>

  <label for="Rainfall">Rainfall:</label>
  <input type="text" id="Rainfall" name="Rainfall" placeholder="Rainfall in MM" required min="0" max="10000">

  <input type="submit" id="submit" name="submit" value="Predict Your Crop">
</form>

</body>
</html>

