<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gender Detection</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Gender Classfication</h1>
        <div class="options">
            <a href="/webcam" class="btn">Use Webcam</a>
            <a href="/upload" class="btn">Upload Image</a>
        </div>
    </div>
</body>
</html>
