<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Webcam Gender Detection</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Webcam Gender Detection</h1>
        <div id="webcam-container">
            <img src="{{ url_for('video_feed') }}" alt="Webcam Feed">
        </div>
        <button onclick="window.location.href='/'">Exit</button>
    </div>
</body>
</html>
