/* Reset some default styles */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
  }
  
  /* Global styles */
  body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
    color: #333;
  }
  
  /* Header styles */
  header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 1em 0;
  }
  
  nav {
    background-color: #4CAF50;
    padding: 10px 0;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  
  nav ul li {
    display: inline-block;
    margin-right: 20px;
  }
  
  nav a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 5px;
    transition: color 0.3s, background-color 0.3s;
  }
  
  nav a:hover {
    color: #333;
    background-color: #fff;
  }
  
  main {
    text-align: center;
    padding: 50px;
  }
  
  h1 {
    color: #4CAF50;
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  h2, h3 {
    color: #333;
  }
  
  p {
    color: #555;
    font-size: 18px;
    line-height: 1.6;
  }
  
  /* Add a subtle shadow to h1 for a nice effect */
  h1 {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  /* Button styles */
  form {
    text-align: center;
  }
  
 /* Base styles for the submit button */
input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    font-style: bold;
    font-weight: 300;
    border-radius: 5px; /* Add rounded corners */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow for depth */
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
  }
  
  /* Hover effect for the submit button */
  input[type="submit"]:hover {
    background-color: #0d8f13;
    transform: scale(1.05); /* Slightly reduce the scaling on hover for a more subtle effect */
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2); /* Increase the box shadow on hover for a lifted appearance */
  }
  
  /* Focus effect for better accessibility */
  input[type="submit"]:focus {
    outline: none; /* Remove default focus outline */
    box-shadow: 0 0 0 3px rgba(75, 204, 50, 0.4); /* Add a green border on focus */
  }
  