/* body {
  font-family: Arial, sans-serif;
  background-image: url('image.jpg');
  background-size: cover;
  margin: 0;
  padding: 0;
} */
/* prediction_css.css */

body {
  background-image: url('image.jpg');
  background-size: cover;
  height: 100vh;
  margin: 0;

  align-items: center;
  justify-content: center;
  font-size: 36px;
  color: white;
  font-family: 'Arial', sans-serif;
  text-shadow: 2px 2px 4px #333; /* Enhance text shadow for better visibility */
}

/* Optional: Add a semi-transparent overlay to improve text readability on the background */
body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Adjust the opacity as needed */
  z-index: -1; /* Place the overlay behind the text */
}

h5 {

  margin-top: 100px;
  color: #f5f8f6; /* Set the desired text color */
  text-align: center;
  text-shadow: 1px 1px 2px #333; /* Enhance text shadow for better visibility */
}

.prediction {
  text-align: center;
  margin-top: 10px; /* Adjust the margin as needed */
}

.prediction h4 {
  font-size: 24px; /* Set the desired font size for the prediction text */
  color: #78fdb0; /* Set the desired text color */
}