<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Interface</title>
</head>
<body>
<table>
    <tbody>
    <tr>
     <td> <a href="letter" ><img src="static/assets/img/letter.png" alt="description"height="250"width="300"/></a></td>
 <td><a href="word"><img src="static/assets/img/word.jpg" alt="description" height="250"width="300"/></a></td>

    </tr>
    <tr>
      <td><h1>For letters</h1></td>
     <td>  <h1>For Words</h1></td>
    </tr>
    </tbody>

</table>


</body>
</html>