<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <script type="text/javascript" src="static/js/index.js"></script>
    <title>Document</title>
</head>
<body>
<a href=""><button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3">alphabets</button></a>
</body>
</html>